<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Welcome to Staff Management System.
    </h1>
    <h2>
        <a asp-controller="Staff" asp-action="StaffList">List of Staff</a>
    </h2>
</body>
</html>
